/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
header {
  background-image: url("../img/background-top-home.jpg");
}

header:before, header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

header .languages {
  color: white;
  float: right;
}

header .logo img {
  widows: 403px;
  height: 311;
}

header .menu {
  margin-top: 50px;
}

header .menu ul li {
  display: inline-block;
}

header .menu ul li a {
  color: white;
  text-transform: uppercase;
}

footer .social li {
  display: inline-block;
}

footer .social li .fa {
  font-size: 22px;
  border: 2px dotted #334f5b;
  border-radius: 25px;
  padding: 10px;
  width: 48px;
  text-align: center;
  margin-right: 5px;
}

footer .social li a {
  color: #222222;
}

footer .social li a:hover {
  color: #319dbb;
}
