/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
.bts-shortcuts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-top: 30px;
}

.bt-link-about-me {
  font-size: 22px;
  font-size: 1.375rem;
  -webkit-border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  -ms-border-radius: 10px 0px 10px 0px;
  border-radius: 10px 0px 10px 0px;
  text-decoration: none;
  line-height: 2;
  padding: 8px 16px;
  background: #748815;
  color: #fff;
}

.bt-link-about-me:hover {
  color: white;
  background: #37668e;
}

.bt-large-shortcut {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 60px;
  font-size: 3.75rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background: #e5ebed;
  border: 10px solid #fff;
  padding: 14px 14px;
  text-align: center;
  color: #648b99;
  position: relativ;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .bt-large-shortcut {
    float: left;
    width: 31.66667%;
  }
}

.bt-large-shortcut div {
  display: inline;
}

.bt-large-shortcut div .fa {
  font-size: 90px;
  font-size: 5.625rem;
  margin-right: 12px;
}

.bt-large-shortcut:hover {
  color: #37668e;
  background: #abd8e8;
}

.bt-large-shortcut:before {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  content: " ";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px dotted #c2c2c2;
}

@media (max-width: 440px) {
  .bts-shortcuts {
    display: block;
  }
  .bt-large-shortcut {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .bt-large-shortcut {
    font-size: 40px;
    font-size: 2.5rem;
    padding: 18px 10px;
    border: 7px solid #fff;
  }
  .bt-large-shortcut div .fa {
    margin-right: 8px;
    font-size: 62px;
    font-size: 3.875rem;
  }
  :before {
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
  }
}

@media (max-width: 601px) {
  .bts-shortcuts a {
    font-size: 39px;
    font-size: 2.4375rem;
  }
  .bts-shortcuts a .fa {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.small {
  font-size: 10px;
  font-size: 0.625rem;
}

.medium {
  font-size: 10px;
  font-size: 0.625rem;
}

.large {
  font-size: 10px;
  font-size: 0.625rem;
}

section.introduction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.mini-info-profile {
  margin-left: 4px;
  text-align: justify;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .mini-info-profile {
    float: left;
    width: 100%;
  }
}

.mini-photo-profile img {
  width: 140px;
  margin-top: 22px;
}

@media (max-width: 440px) {
  section.introduction {
    display: block;
  }
  .mini-info-profile {
    margin-left: 0px;
    text-align: justify;
    text-align-last: center;
    margin-top: -15px;
  }
  .mini-photo-profile {
    text-align: center;
  }
  .mini-photo-profile img {
    width: 140px;
    margin-top: 22px;
  }
}

header {
  min-height: 420px;
  background-image: url("../img/background-top-home.jpg");
  background-image: url("../img/background-top-home.jpg") -webkit-linear-gradient(90deg, #4d88b5, #2ca0b3);
  background-image: url("../img/background-top-home.jpg") -moz-linear-gradient(90deg, #4d88b5, #2ca0b3);
  background-image: url("../img/background-top-home.jpg") -ms-linear-gradient(90deg, #4d88b5, #2ca0b3);
  background-image: url("../img/background-top-home.jpg") -o-linear-gradient(90deg, #4d88b5, #2ca0b3);
  background-image: url("../img/background-top-home.jpg") linear-gradient(90deg, #4d88b5, #2ca0b3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#4d88b5', EndColorStr='#2ca0b3');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  position: relative;
}

header:before, header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

@media (max-width: 440px) {
  header {
    min-height: 300px;
  }
}

header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #dedf36;
  background-image: -webkit-gradient(linear, 90deg, from(#d2067a), to(#dedf36));
  background-image: -webkit-linear-gradient(90deg, #d2067a, #dedf36);
  background-image: -moz-linear-gradient(90deg, #d2067a, #dedf36);
  background-image: -ms-linear-gradient(90deg, #d2067a, #dedf36);
  background-image: -o-linear-gradient(90deg, #d2067a, #dedf36);
  background-image: linear-gradient(90deg, #d2067a, #dedf36);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#d2067a', EndColorStr='#dedf36');
  position: absolute;
  bottom: 0;
}

header .languages {
  color: white;
  float: right;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 4px 0px 0px;
  text-align: center;
}

header .languages div {
  margin-top: 0px;
}

header .toggle_celular {
  color: white;
  float: left;
  margin-top: 0px;
  font-size: 18px;
  font-size: 1.125rem;
}

header .toggle_celular a {
  font-size: 50px;
  font-size: 3.125rem;
  color: #fff;
}

header .toggle_celular a:hover {
  color: #0a5164;
}

header .logo {
  margin: 0px auto 0px auto;
  display: table;
  clear: both;
}

header .logo img {
  width: 353px;
  position: relative;
}

@media (max-width: 440px) {
  header .logo img {
    width: 270px;
    margin-bottom: 50px;
  }
}

header nav.menu_celular {
  display: none;
}

@media (max-width: 440px) {
  header nav.menu_celular {
    width: 200px;
    display: block;
    margin: -20px auto 25px auto;
    z-index: 1000;
  }
  header nav.menu_celular div {
    background: #0a5164;
    background: rgba(10, 81, 100, 0.8);
    margin-bottom: 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
  }
  header nav.menu_celular div a {
    color: #fff;
  }
}

header nav.menu-header {
  background: #0a5164;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 12px 0px 0px 0px;
  width: 540px;
  height: 43px;
  text-align: center;
  margin: 28px auto;
}

@media (max-width: 991px) {
  header nav.menu-header {
    width: 550px;
    padding: 16px 0px 0px 0px;
    height: 59px;
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (max-width: 440px) {
  header nav.menu-header {
    display: none;
    width: 500px;
  }
}

header nav.menu-header ul {
  list-style: none;
}

header nav.menu-header ul li {
  display: inline;
  margin-right: -4px;
}

header nav.menu-header ul li a {
  color: white;
  text-transform: uppercase;
  padding: 12px;
  font-size: 23px;
  font-size: 1.4375rem;
}

header nav.menu-header ul li a:hover {
  color: white;
  background: #458293;
  padding: 12px;
  text-decoration: none;
}

header nav.menu_celular2 {
  background: #0a5164;
  padding: 8px 0px 0px 0px;
  width: 500px;
  height: 39px;
  text-align: center;
  display: none;
  margin: -30px auto 30px;
}

@media (max-width: 991px) {
  header nav.menu_celular2 {
    display: none;
  }
}

@media (max-width: 440px) {
  header nav.menu_celular2 {
    display: none;
    width: 320px;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

header nav.menu_celular2 ul {
  list-style: none;
  margin-left: -8px;
}

header nav.menu_celular2 ul li {
  display: inline-block;
  margin-right: -10px;
}

header nav.menu_celular2 ul li a {
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

header nav.menu_celular2 ul li a:hover {
  color: white;
  background: #458293;
  padding: 10px;
  text-decoration: none;
}
