header
  background-image: url('../img/background-top-skills.jpg')

.text-about-me
  +clearfix
  +make-row
  div.sk-column
    //background: #ccc
    +make-sm-column(4)
    +make-lg-column(4)
    +make-md-column(4)
    +breakpoint($celular-vertical)
      +make-xs-column(4)
    +breakpoint($celular)
      +make-xs-column(12)

  h4
    text-align: center
    font-weight: bolder
    margin-bottom: 12px
    +breakpoint($tablet)
      +font-size(25px)
    +breakpoint($celular-vertical)
      +font-size(19px)
    +breakpoint($celular)
      +font-size(25px)

.sk-list
  ul
    li
      div.skill
        width: 100%
        padding: 10px
        display: flex
        flex-direction: row
        background: #fff
        width: 100%
        padding: 10px 10px
        +border-radius(10px 10px 10px 10px)
        +boxShadow(1px 2px 5px 0px rgba(0,0,0,0.05))
        margin-bottom: 10px
        background: #fff
        height: 54px

      .info-skill
        display: flex
        flex-direction: column
        flex-grow: 1

      .logo-skill
        width: 3em

        svg
          float: left
          max-width: 2.5em !important
          fill: #587c82
          margin-right: 6px
          path
            fill: #587c82
        i
          float: left
          font-size: 2.5em !important
          color: #587c82
          margin-right: 6px

      .flexible-info-skill
        flex-grow: 1

        p
          color: #0d7499
          font-weight: bold
          margin-top: 1px
          float: left
          +breakpoint($celular-vertical)
            +font-size(18px)
          +breakpoint($celular)
            +font-size(20px)
            margin-top: 4px

        div.skills-bar
          float: left
          margin-top: -10px
          width: 100%
          height: 6px
          padding: 0px
          background: #e0e0e0
          border: none
          +border-radius(10px 10px 10px 10px)

          div
            margin: 0px
            border: 0px
            +gradient(90deg, #78d178, #47a247)
