footer
  .social
    li
      display: inline-block
      .fa
        font-size: 22px
        border: 2px dotted #334f5b
        border-radius: 25px
        padding: 10px
        width: 48px
        text-align: center
        margin-right: 5px
      a
        color: #222222
      a:hover
        color: #319dbb
