footer
  +gradient(180deg, #a2d9de, #fff)

  &:before
    content: ""
    display: block
    width: 100%
    height: 4px
    +gradient(90deg, #dedf36, #d2067a)

  .logo-footer
    display: table
    margin: 0px auto
    img
      width: 62px

  .address-footer
    display: table
    margin: 14px auto 0px auto
    text-align: center

    & address
      line-height: 1.2
      a
        font-weight: $bold
        color: #000
      a:hover
        color: #0093d7

  .social
    margin: 16px auto 0px auto
    display: table
    li
      display: inline-block
      .fa
        font-size: 22px
        border: 2px dotted #77b7bd
        background: #d0ebed
        +border-radius(25px)
        padding: 10px
        width: 48px
        text-align: center
        margin-right: 0px
      a
        color: #222222
      a:hover
        color: #e53600
