header
  +clearfix
  background:
    image: url('../img/background-top-home.jpg')
    //position:
    //attachment:
    //size:

  .languages
    color: $branco
    float: right

  .logo
    img
      widows: 403px
      height: 311

  .menu
    margin-top: 50px
    ul
      li
        display: inline-block
        a
          color: $branco
          text-transform: uppercase
