header
  min-height: 430px
  border: 1px solid red

  background-image: url('../img/background-top-home.jpg')
  background-position: top center
  background-repeat: no-repeat
  background-size: cover //mantém o tamanho do background independente da resolução
  clear: both
  position: relative
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3)

  +breakpoint($tablet)
    min-height: 370px

  +breakpoint($celular)
    min-height: 300px

  .logo
    margin: 0px auto 0px auto
    display: table
    clear: both
    img
      width: 353px
      position: relative

      +breakpoint($celular)
        width: 270px
        margin-bottom: 50px

      +breakpoint($tablet)
        width: 290px
